01.json
[{"id":"2b11394d.c9f076","type":"function","z":"d756ba4f.ec1908","name":"INSERT","func":"msg.topic = \"INSERT INTO users(name) VALUES('\" + msg.payload.data + \"');\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":580,"wires":[["30829f12.e757a","ca7d4891.16e728"]]},{"id":"30829f12.e757a","type":"mysql","z":"d756ba4f.ec1908","mydb":"dc0f90c6.dd06b","name":"","x":420,"y":580,"wires":[["e09ad41a.155148"]]},{"id":"5b7df0c9.820db","type":"http in","z":"d756ba4f.ec1908","name":"","url":"/access_db","method":"post","upload":false,"swaggerDoc":"","x":100,"y":580,"wires":[["2b11394d.c9f076"]]},{"id":"e09ad41a.155148","type":"http response","z":"d756ba4f.ec1908","name":"","statusCode":"","headers":{},"x":730,"y":580,"wires":[]},{"id":"ca7d4891.16e728","type":"delay","z":"d756ba4f.ec1908","name":"5秒待機","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":640,"wires":[["4622256a.81f73c"]]},{"id":"4622256a.81f73c","type":"template","z":"d756ba4f.ec1908","name":"エラー表示","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"タイムアウトが発生しました。","output":"str","x":570,"y":640,"wires":[["e09ad41a.155148"]]},{"id":"dc0f90c6.dd06b","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""}]
