02.json
[{"id":"5caa5378.e6dacc","type":"mysql","z":"d756ba4f.ec1908","mydb":"dc0f90c6.dd06b","name":"","x":420,"y":720,"wires":[["823386d8.ef1fc8"]]},{"id":"2203fcf.bf02f04","type":"function","z":"d756ba4f.ec1908","name":"SELECT","func":"msg.topic = \"SELECT id, name FROM users WHERE name LIKE '%\" + encodeURI(msg.payload.data) + \"%';\"\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":720,"wires":[["5caa5378.e6dacc","b0963428.d86218"]]},{"id":"cd0ea5aa.5d3268","type":"http in","z":"d756ba4f.ec1908","name":"","url":"/access_db","method":"get","upload":false,"swaggerDoc":"","x":100,"y":720,"wires":[["2203fcf.bf02f04"]]},{"id":"5f7539a8.9fafd8","type":"http response","z":"d756ba4f.ec1908","name":"","statusCode":"","headers":{},"x":730,"y":720,"wires":[]},{"id":"823386d8.ef1fc8","type":"template","z":"d756ba4f.ec1908","name":"HTML生成","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<table border=1>\n    <tr>\n        <td>ID</td>\n        <td>Name</td>\n    </tr>\n    {{#payload}}\n        <tr>\n            <td>{{id}}</td>\n            <td>{{name}}</td>\n        </tr>\n    {{/payload}}\n</table>","x":570,"y":720,"wires":[["5f7539a8.9fafd8"]]},{"id":"b0963428.d86218","type":"delay","z":"d756ba4f.ec1908","name":"5秒待機","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":780,"wires":[["8e682742.ebb8a8"]]},{"id":"8e682742.ebb8a8","type":"template","z":"d756ba4f.ec1908","name":"エラー表示","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"タイムアウトが発生しました。","output":"str","x":570,"y":780,"wires":[["5f7539a8.9fafd8"]]},{"id":"dc0f90c6.dd06b","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""}]
