03.json
[{"id":"7b07560d.45c6d8","type":"http in","z":"d756ba4f.ec1908","name":"","url":"/nhkapi","method":"get","upload":false,"swaggerDoc":"","x":90,"y":280,"wires":[["cdeb74f5.d438b8"]]},{"id":"cdeb74f5.d438b8","type":"function","z":"d756ba4f.ec1908","name":"API問合せ用URL作成","func":"// 今日の日付を取得\nvar now = new Date();\n// 年・月・日を抽出\nvar y = now.getFullYear();\nvar m = now.getMonth() + 1;\nvar d = now.getDate();\n// 月・日が1桁のとき先頭0を付加\nm = ('0' + m).slice(-2);\nd = ('0' + d).slice(-2);\n// YYYY-MM-DD形式に整形\nvar ymd = y + \"-\" + m + \"-\" + d;\n\n// NHK Program Genre API問い合わせURLを生成\nmsg.url = \"http://api.nhk.or.jp/v2/pg/genre/\" + encodeURI(msg.payload.area) + \"/g1/\" + encodeURI(msg.payload.genre) +  \"/\" + ymd + \".json?key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["12cf1b8b.d14b44"]]},{"id":"12cf1b8b.d14b44","type":"http request","z":"d756ba4f.ec1908","name":"API問合せ","method":"GET","ret":"obj","url":"","tls":"","x":510,"y":280,"wires":[["aeb33bae.0348d8"]]},{"id":"79517b65.775b64","type":"http response","z":"d756ba4f.ec1908","name":"","statusCode":"","headers":{},"x":490,"y":340,"wires":[]},{"id":"3b655c5c.bbcb44","type":"debug","z":"d756ba4f.ec1908","name":"","active":true,"console":"false","complete":"false","x":510,"y":380,"wires":[]},{"id":"aeb33bae.0348d8","type":"template","z":"d756ba4f.ec1908","name":"出力HTML生成","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h3>最初の1件のみ表示</h3>\n<!-- 配列の最初の要素[0]に直接アクセス -->\n<p>\n開始：{{payload.list.g1.0.start_time}}<br />\n終了：{{payload.list.g1.0.end_time}}<br />\n番組名：{{payload.list.g1.0.title}}<br />\n</p>\n\n<h3>全件表示</h3>\n<!-- 配列を要素数分ループしての全要素にアクセス -->\n{{#payload.list.g1}}\n    <p>\n    開始：{{start_time}}<br />\n    終了：{{end_time}}<br />\n    番組名：{{title}}<br />\n    </p>\n{{/payload.list.g1}}\n","x":280,"y":340,"wires":[["79517b65.775b64","3b655c5c.bbcb44"]]}]
